:root
{
    /* Sätter typsnitt storleken till 16px vilket är ungefär 14 punkter */
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Sätter lite värden */
    --shadow-color: rgba(38, 38, 43, 0.575);
}

body
{
    padding: 0px;
    margin: 0px;
}

.title
{
    font-size: 24px;
    text-align: center;
}

/* Grejer som varnar att man inte har JavaScipt aktiverat */

#noscript-warning
{
    /* Set til att panelen är längst upp */
    z-index: 2;
    
    position: fixed;
    top: 0px;
    
    background-color: rgb(230, 74, 63);
    
    width: 100%;
    height: 64px;
}

#noscript-warning > img
{
    position: absolute;
    
    height: 32px;
    width: auto;
    
    margin: 16px 16px;
}

#noscript-warning > p
{
    color: #fff;
    text-align: center;
    margin: default 20px;
    
    margin-left: 64px;
}

/* Panelen längst upp */

#top-bar
{
    z-index: 2;
    
    position: fixed;
    
    /* Centrerar alla paneler vertikalt i panelen */
    display: flex;
    align-items: center;
    
    /* För att göra plats till noscript-warning */
    margin-top: 64px;
    
    width: 100%;
    height: 120px;
    
    background-color: rgb(11, 11, 14);
}

#logo
{
    position: absolute;
    
    left: 32px;
    
    width: auto;
    height: 64px;
}

/* Navigation bar */

#nav-bar
{
    position: absolute;
    right: 160px;
    list-style: none;
}

#nav-bar > li
{    
    color: #fff;
    
    display: inline-block;
    
    /* Sätter mellanrummen mellan texten till 35 pixlar */
    margin-left: 35px;
    
    text-align: center;
}

#mobile-nav-toggle
{
    visibility: hidden;
    position: absolute;
}

#mobile-nav-bar
{
    visibility: hidden;
    position: fixed;
}

/* Språk väljare */

#lang-selector
{
    position: absolute;
    right: 48px;
    /* Centrerar vertikalt */
    top: 50%;
    transform: translateY(-50%);
    
}

#lang-display
{
    width: 64px;
    height: auto;
}

#lang-content
{
    opacity: 0;
    pointer-events: none;
    
    position: absolute;
    left: -8px;
    
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 32px var(--shadow-color);
    
    transition: all .2s ease-in-out;
    
    width: 80px;
}

#lang-content > img
{
    width: 64px;
    height: auto;
    
    margin: 8px 8px;
}

/* Huvud innehållet */

#content
{
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
    
    width: 60%;
    top: 120px;
}




#light-mode-switch
{
    background-image: url('res/day.png');
    
    width: 32px;
    height: 32px;
    
    cursor: pointer;
}

/* För mobiler och mindre skärmar */
@media (orientation: portrait) and (min-width: 800px)
{
    :root
    {
        font-size: 24px;
    }
    
    
    .title
    {
        font-size: 32px;
    }
    
    /* Ökar storleken av top-bar and dens innehåll */
    #top-bar
    {
        height: 200px;
    }
    
    #content
    {
        top: 200px;
    }
    
    /* Gör loggan större och centrerar den */
    #logo
    {
        left: 50%;
        transform: translateX(-50%);
        
        height: 128px;
    }
    
    /* Ändrar stilen av nav-bar */
    #nav-bar
    {
        visibility: hidden;
    }
    
    #mobile-nav-bar
    {
        visibility: visible;
        z-index: 1;
        
        background-color: rgb(11, 11, 14);
        
        left: -100%;
        
        width: 100%;
        height: 100%;
        
        transition: all .1s ease-in-out;
    }
    
    #mobile-nav-bar > ul
    {
        position: absolute;
        
        list-style: none;
        padding: 0;
        
        width: 100%;
        top: 200px;
    }
    
    #mobile-nav-bar > ul > li
    {
        margin: 32px 5%;
        
        
        font-size: 32px;
        color: #fff
    }
    
    #mobile-nav-bar > ul > hr
    {
        width: 95%;
        
        background-color: #fff;
    }
    
    #mobile-nav-toggle
    {
        visibility: visible;
        
        width: 64px;
        height: 64px;
        
        left: 48px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    #mobile-burger
    {
        position: absolute;
        filter: invert(100%);
        
        transition: all .2s ease-in-out;
    }
    
    #mobile-x
    {
        opacity: 0;
        position: absolute;
        filter: invert(100%);
        
        transition: all .2s ease-in-out;
    }
    
    #mobile-socials
    {
        visibility: visible;
        
        position: absolute;
        
        width: 100%;
        bottom: 0;
    }
    
    #mobile-socials > p
    {
        color: #fff;
        text-align: center;
    }
    
    #mobile-socials > ul
    {
        list-style: none;
        
        display:table;
        width:100%;
        
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }
    
    #mobile-socials > ul > li
    {
        display: table-cell;
    }
    
    #mobile-socials > ul > li > a
    {
        text-align: center;
    }
    
    #mobile-socials > ul > li > a > img
    {
        height: 64px;
        width: auto;
    }
    
    /* Gör språkväljren större */
    
    #lang-display
    {
        width: 128px;
    }
    
    #lang-content
    {
        left: -16px;
        
        width: 160px;
    }
    
    #lang-content > img
    {
        width: 128px;
        margin: 16px 16px;
    }
    
    #content
    {
        width: 90%;
    }
}